@page "/fetchmarketdata"
@using BlazorClient.Data


@inject MarketDataService MarketDataServicePresenter


<h1>Market Data</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Ticket</th>
				<th>Spot </th>
				<th>Open </th>
				<th>Close</th>
				<th>Update time</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var marketDataPresenter in MarketDataServicePresenter.MarketDataList)
			{
				<tr>
					<td>@marketDataPresenter.Ticker</td>
					<td>@marketDataPresenter.Spot</td>
					<td>@marketDataPresenter.Open</td>
					<td>@marketDataPresenter.Close</td>
					<td>@marketDataPresenter.Time</td>
				</tr>
			}
		</tbody>
</table>

@code {

	protected override void OnInitialized()
	{
		MarketDataServicePresenter.BuildServerConnection();
		MarketDataServicePresenter.MarketDataReceived += MarketDataUpdateHandler;
	}

	private void MarketDataUpdateHandler(object handler, EventArgs e)
	{
		//Refresh grid
		base.StateHasChanged();
	}
}
